<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="card-title">오늘의 Hot Deal</h2>
                    <p class="card-text name">9월 18일 단 하루! 유럽여행 초특가 딜!</p>
                    <img alt="Travel" class="img-fluid mb-3" id="dealImage"/>
                </div>
                <div class="col-md-6 mt-3 pt-3">
                    <div class="mb-3 mt-5 pt-5">
                        <p class="lead">수량: <span class="quantity"></span></p>
                        <p class="lead">기간: <span class="period"></span></p>
                        <p class="lead">원래가격: <span class="price"></span></p>
                        <p class="lead text-danger">할인가: <span class="discountPrice"></span></p>
                        <label for="email" class="form-label">주문자 Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                    <button class="btn btn-primary" id="purchaseButton">구매하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function fetchItem() {
        //getItem
        fetch("/tour-ranger/items/1")
            .then(response => response.json())
            .then(data => {
                const name = data.name;
                const quantity = data.quantity;
                const period = data.period;
                const price = data.price;
                const discountPrice = data.discountPrice;
                window.id = data.id;

                document.querySelector(".name").textContent = name;
                document.querySelector(".period").textContent = period + "일";
                document.querySelector(".quantity").textContent = quantity;
                document.querySelector(".price").textContent = price + "원";
                document.querySelector(".discountPrice").textContent = discountPrice + "원";
            })
            .catch(error => {
                console.error("Error fetching item data:", error);
            });

        //getImage
        document.getElementById("dealImage").src = "/tour-ranger/images/1";

        //구매하기 버튼 클릭
        document.getElementById("purchaseButton").addEventListener("click", function () {
            const email = document.getElementById("email").value;
            const itemId = window.id;
            if (!email) {
                alert("이메일을 입력해 주세요.");
                return;
            }
            const requestData = {
                email: email,
            };
            fetch(`/tour-ranger/purchases/${itemId}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(requestData)
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the purchase response data
                    if (data.statusCode === 400) {
                        let errorMessage;
                        switch (data.statusMessage) {
                            case "소진된 상품입니다.":
                                errorMessage = "소진된 상품입니다.";
                                break;
                            case "존재하지 않는 사용자입니다. 회원가입이 필요합니다.":
                                errorMessage = "존재하지 않는 사용자입니다. 회원가입이 필요합니다.";
                                break;
                            case "존재하지 않는 상품입니다.":
                                errorMessage = "존재하지 않는 상품입니다.";
                                break;
                            default:
                                errorMessage = "이메일 형식을 확인해 주세요.";
                        }
                        alert(errorMessage);
                    }else {
                        alert("구매에 성공 했습니다.");
                    }
                })
                .catch(error => {
                    console.error("Error purchasing:", error);
                });
        });

    }

    // Only handle the window.onload event once
    let windowLoaded = false;
    window.onload = function () {
        if (!windowLoaded) {
            fetchItem();
            windowLoaded = true;
        }
    };
</script>
</body>
</html>
